<!DOCTYPE html>
<html>
<head>
    <meta lang="en"/>
    <meta name="viewport" content="width:display-width" />
    <title>MainPost</title>

    <link />
</head>
<body>

    @RenderBody()
</body>
</html>