.BvMHM{
    margin: 30px auto 0;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(219,219,219,1);
    border-radius: 3px;
    max-width: 935px;
    overflow: hidden;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-grow: 1;
    justify-content: stretch;
    -webkit-box-flex: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    padding: 0;font: inherit;
    vertical-align: baseline;
    position: relative;color: rgba(38,38,38,1);
}

.wW1cu{
    border-right: 1px solid rgba(219,219,219,1);
    flex-basis: 236px;    flex-grow: 0;list-style: none;
    -webkit-box-flex: 0;flex-shrink: 0;margin: 0;
    padding: 0;-webkit-box-direction: normal;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.h-aRd{
    color: rgba(38,38,38,1);
    border-left-color: rgba(38,38,38,1);
    font-weight: 600;
    border-left: 2px solid transparent;
    display: block;border: 0;
    font: inherit;-webkit-box-direction: normal;list-style: none;    font-family: -apple-system,BlinkMacSystemFont,"SegoeUI",Roboto,Helvetica,Arial,sans-serif;
    vertical-align: baseline;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    padding: 16px 16px 16px 30px;
    width: calc(100% - 48px);
    text-decoration: none;margin: 0;
}
.PVkFi{
    flex: 1 1 400px;
    min-width: 50px;
    -webkit-box-flex: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    font: inherit;
    vertical-align: baseline;
}

.C_9MP{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin: 32px 0 0;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;    display: flex;padding: 0;
    position: relative;
}
.LqNQc{
    margin: 2px 32px 0 124px;height: 38px;
    width: 38px;-webkit-box-align: stretch;align-items: stretch;
    border: 0 solid #000;    box-sizing: border-box;    display: flex;
    -webkit-box-orient: vertical;    padding: 0;
    position: relative;
    -webkit-box-direction: normal;    flex-direction: column;flex-shrink: 0; color:rgba(38,38,38,1);
}

.XX1Wc{
    -webkit-box-flex: 0;flex: 0 1 auto;
    margin-right: 20px;align-items: stretch;    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;    margin: 0;
    padding: 0;    font: inherit;
    vertical-align: baseline;
    position: relative;
    border: 0 solid #000;    box-sizing: border-box;
    overflow-x: hidden;    -webkit-box-align: stretch;
}
.kHYQv{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    margin: 0;font-family: 'SegoeUI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;-webkit-box-direction: normal;
    color: rgba(38,38,38,1);
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sqdOP{
    text-align: left;
    border: 0;color: rgba(0,149,246,1);
    padding: 0;
    position: relative;
    appearance: none;
    background: 0 0;-webkit-box-direction: normal;
    box-sizing: border-box;
    cursor: pointer;    font-weight: 600;text-transform: inherit;
    text-overflow: ellipsis;user-select: none;
    width: auto;font-family: -apple-system,BlinkMacSystemFont,"SegoeUI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;    margin: 0;
}
.kWXsT{
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;color: rgba(38,38,38,1);
}

.eE-OA{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;    flex-direction: row;margin-bottom: 16px;
    -webkit-box-pack: start;justify-content: flex-start;-webkit-box-align: stretch;    align-items: stretch;
    border: 0 solid #000;box-sizing: border-box;display: flex;flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;font: inherit;
    vertical-align: baseline;
}

.sxIVS{
    padding-left: 32px;
    padding-right: 32px;
    text-align: right;
    box-sizing: border-box;
    color: rgba(38,38,38,1);    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-flex: 0;
    flex: 0 0 194px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 6px;-webkit-box-direction: normal;
}
.pepName{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;color: #262626;    flex: 0 0 194px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 6px;margin-top: 16px;
    vertical-align: baseline;padding-left: 32px;
    padding-right: 32px;
    text-align: right;
}
.ada5V{
    flex-basis: 355px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;flex-direction: row;
    padding-right: 60px;    color: rgba(38,38,38,1);
    -webkit-box-flex: 1;flex-grow: 1;    align-items: stretch;
    border: 0 solid #000;box-sizing: border-box;display: flex;
    font-size: 16px;-webkit-box-align: stretch;
    -webkit-box-pack: start;justify-content: flex-start;flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

._4EzTm{
    -webkit-box-flex: 0;
    flex: 0 0 auto;-webkit-box-pack: start;justify-content: flex-start;    -webkit-box-align: stretch;align-items: stretch;align-content: stretch;
    display: inline-block;    border: 0 solid #000;box-sizing: border-box;-webkit-box-orient: vertical;
    -webkit-box-direction: normal;flex-direction: column;margin: 0;
    padding: 0;
    position: relative;color: rgba(38,38,38,1);
}

.JLJ-B{
    -webkit-appearance: none;background: 0 0;border: 1px solid rgba(219,219,219,1);
    border-radius: 3px;    box-sizing: border-box;    color: rgba(38,38,38,1);
    -webkit-box-flex: 0;    flex: 0 1 355px;
    font-size: 16px;font-family: -apple-system,BlinkMacSystemFont,"SegoeUI",Roboto,Helvetica,Arial,sans-serif;
    height: 32px;line-height: 18px;
    padding: 0 10px;
    width: 100%;
}

.fi8zo{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;    flex-direction: row;
    margin-top: 16px;border: 0 solid #000;box-sizing: border-box;    display: flex;flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}
